.product-detail {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 800px;
  margin: 0 auto;
}

.product-detail img {
  width: 100%;
  max-width: 400px;

  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.product-detail h1 {
  margin: 16px 0;

  text-align: center;
  text-transform: uppercase;

  color: #333;

  font-size: 2em;
}

.product-detail p {
  margin: 8px 0;

  color: #666;

  font-size: 1.2em;
}

.product-detail button {
  display: block;

  width: 100%;
  max-width: 400px;
  padding: 16px;

  cursor: pointer;
  transition: all 0.3s;

  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  font-size: 1.2em;
}

.product-detail button:hover {
  background-color: #666;
}

.product-detail button:active {
  transform: scale(0.95);
}
